{{ $scratch := newScratch }}
<!---->
{{ $scratch.Set "path" "images/" }}
<!---->
{{ $scratch.Add "path" .slug }}
<!---->
{{ $scratch.Add "path" ".jpg" }}
<!---->
{{ $path := $scratch.Get "path"}}
<!---->
{{ $image := resources.Get $path }}
<!---->
{{ $image := $image.Resize "720x1066" }}
<div
  style="
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 5.5%;
    padding-bottom: 5.5%;
  "
>
  <div style="--aspect-ratio: 720/1066">
    <img
      loading="lazy"
      src="{{ $image.Permalink }}"
      alt="{{ .slug }}"
      style="width: 100%; display: block; border-radius: 10px"
    />
  </div>
</div>
