{{ $scratch := newScratch }}
<!---->
{{ $scratch.Set "path" "images/" }}
<!---->
{{ $scratch.Add "path" .slug }}
<!---->
{{ $scratch.Add "path" ".jpg" }}
<!---->
{{ $path := $scratch.Get "path"}}
<!---->
{{ $image := resources.Get $path }}
<!---->
{{ $image := $image.Resize "720x1066" }}
<div
  style="
    padding-left: 16%;
    padding-right: 16%;
    padding-top: 8%;
    padding-bottom: 8%;
  "
>
  <div style="--aspect-ratio: 720/1066">
    <img
      loading="lazy"
      src="{{ $image.Permalink }}"
      alt="{{ .slug }}"
      style="width: 100%; display: block"
    />
  </div>
</div>
